.navbar {
  background-color: #206660;
  }

.nav-link:hover {
    background: #0D0D0D;
    color: #f2f2f2
  }
  
.navbar-brand:hover {
    background: #0D0D0D;
    color: #f2f2f2;
    padding: auto;
  }

.btn {
    background-color: #F2F2F2;
  }

.nav-link{
    color: #F2F2F2;
}

div.container-fluid {
  background-color: #b7b7b7;
  overflow-x: hidden;
}

.w3-center {
  color: #F2F2F2;
}

p {
  color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #F2F2F2;
  font-family: 'Henny Penny'; 
}

h2 {
  color: #0D0D0D;
  background-color: #F2F2F2;
  border-radius: 3px;
  font-family: 'Henny Penny'; 
}

h3 {
  color: #9453A6;
  background-color: #F2F2F2;
  border-radius: 13px;
  font-family: 'Henny Penny'; 
}

h4 {
  color: #F2F2F2;
  font-family: 'Henny Penny'; 
}

h5 {
  color: #F2F2F2;
  font-family: 'Henny Penny';
}

.navbar-brand {
  color: #F2F2F2;
}

footer {
  background-color: #206660;
  color: #F2F2F2;
}

#colorMe {
  color: #9453A6;
  font-size: 16px;
}

#colorMe1 {
  color: #8CBF3F;
  font-size: 16px;
}

.navbar-toggler:hover {
  background: #f2f2f2;
  color: #f2f2f2;
  padding: auto;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#colorLogo {
  background-color: #0D0D0D;
}

#colorHeading {
  color: #0D0D0D;
}

#colorMayorHeading {
  color: #0D0D0D;
}

#borderMe {
  border: 4px solid #F2F2F2;
}

